
**/_ngo
**/_xmsgs
**/iseconfig
**/xlnx_auto_0_xdb
**/xst

**/*.bit
**/*.bld

**/*.cmd_log
**/*.csv

**/*.gise

**/*.html 

**/*.lso

**/*.map
**/*.mrp

**/*.ncd
**/*.ngd
**/*.ngm
**/*.ngr

**/*.pad
**/*.par
**/*.pcf
**/*.prj
**/*.ptwx

**/*.stx
**/*.syr 

**/*.twr
**/*.twx
**/*.txt

**/*.unroutes

**/*.xml 
**/*.xpi
**/*.xrpt
**/*.xst 
